<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="#">To-do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container d-flex justify-content-center">

    <div id="tasks-container" class="m-3 p-2 w-50 bg-light rounded shadow-sm">
      <p class="font-weight-bolder">Tasks</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tarefa</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list, let i=index">
            <td>{{i}}</td>
            <td>{{item}}</td>
            <td><a (click)="remover(i)" class="link-danger">Concluído</a></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label for="">Nova tarefa</label>
        <input type="text" class="form-control my-1" [(ngModel)]="entrada" (keyup.enter)="adicionar()">
      </div>
      <button class="ml-auto btn btn-success my-1" (click)="adicionar()">Adicionar</button>
    </div>

  </div>
</div>